* {
    width: 100%
}

a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.center_text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}

.drop_down_content {
    display: flex;
    text-align: center;
    align-items: center;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}

.hide {
    display: none;
}

i {
    font-size: 50px;
}

#index_article {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    /*background-image: url(../img/något.jpg);*/
}

#index_text {
    background-color: wheat;
    margin: 20%;
}

.index_section {
    width: 100vw;
    display: flex;
}

main::-webkit-scrollbar {
    display: none;
    /*Fix it*/
}

nav{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: white;
    height: 40vh;
    width: 100vw;
    position: fixed;
    top: -40vh;
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

#program {
    min-height: 10%;
}

#program_main {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.project_program {
    display: flex;
    height: 15vh;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
    justify-content: center;
    align-items: center;
}

#projects {
    min-height: 30%;
}

section {
    width: 100%;
    
}

.show {
    top: 0;
}

.side_scroll {
    background-color: wheat;
    overflow: auto;
    white-space: nowrap;

}

.side_scroll div {
    display: inline-block;
    width: min-content;
    margin: 10px;
 }

.side_scroll::-webkit-scrollbar {
    display: none;
}

#TIL_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#TIL_main article {
    width: 60vw;
    margin: 20vw;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: wheat;
    
}

article h5 {
    height: 10%;
}

article img {
    height: 50%;
}

article p {
    height: 40%;
}






