a {
    color: black;
    text-decoration: none;
}

article h5 {
    height: 10%;
    margin: 2px;
    font-size: 20px;
    text-align: center;
    /*Center?*/
}

article img {
    height: 50%;
}

article p {
    height: 40%;
    margin: 0px;
    font-size: 14px;
}

.back_button {
    font-size: 30px;
}

body {
    margin: 0px;
    background-color: hsl(221, 13%, 32%);
    -ms-overflow-style: none; /* IE and Edge */
    overflow-x: hidden;
    scrollbar-width: none;  /* Firefox */
    /*Set a nice font bitte*/
}

.box {
    background-color: white;
    border: #FF9F55 solid 4px;
    border-radius: 10px;
    padding: 5px;
}

.bubble {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

.bubble::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.center_text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}

#chevron_left {
    font-size: 2em;
}

.colour_circle {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.container {
    display: grid;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.drop_down_content {
    display: flex;
    text-align: center;
    align-items: center;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.fit-content {
    width: fit-content;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: white;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}

.hide {
    display: none;
}

.hide_phone {/*remove*/
    display: none;
}

.html {
    background-color:#e34c26 ;
}

i.hamburger_menu {
    font-size: 3em;
}

i.center_text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
    font-size: 2em;
}

#index_article {
    margin-top: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #474e5d;
    /*background-image: url(../img/något.jpg);*/
}

.index_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index_container {
    grid-template-rows: 15vh 1fr;
    height: 100%;
    width: 100vw;
}

#index_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index_main article {
    margin-top: 50%;
    margin-bottom: 60%;
    width: 90%;
}

#index_text {
    border: 4px solid #FF9F55;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}

.index_section {
    width: 100vw;
    display: flex;
}

.inline_block {
    display: inline-block;
}

.left {
    left: 0;/*quickfix*/
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

li {
    margin-bottom: 4.5rem;
}

main::-webkit-scrollbar {
    display: none;
    /*Fix it*/
}

.material-icons {
    font-size: 6em;
}

.material-icons:hover {
    cursor: pointer;
}

#medic {
    width: 50%;
    margin: 10%;
}

.mid {
    justify-self: center;
}

nav{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: white;
    height: 40vh;
    width: 100vw;
    position: fixed;
    top: -40vh;
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

#om_mig_over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #FF9F55 4px solid;
}

#om_oss {
    box-sizing: border-box;
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    width: 100%;
}


p {
    font-family: Helvetica, sans-serif;
}

#pointer {
    display: flex;
    color: #FF9F55;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pointer > *{
    width: fit-content;
    color: #FF9F55;
}

#program {
    min-height: 10%;
}

#program_main {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    justify-self: center;
}

.project_card {
    background-color: black;
    color: white;
    border-radius: 10px;
    /*Egenskaper för bredd och höjd*/
    height: 80%;
    width: 30%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 10px;
}

.project_card a {
    color: white;
}

.project_card img {
    height: 50%;
    border-radius: 5px;
}

.project_program {
    display: grid;
    grid-template-areas: 
    "hd tp"
    "p ."
    "sc .";
    grid-template-columns: 80% 20%;
    grid-template-rows: 35% 40% 25%;
    padding: 10px;
    margin: 10px;
}

.project_program h3 {
    grid-area: hd;
    color: midnightblue;
    align-self: center;
    text-align: left;
}

.project_program p {
    grid-area: p;
    text-align: left;
}

.project_program .topic {
    grid-area: tp;
    align-self: center;
    border: rgba(0, 0, 0, 0.541) 1px solid;
    border-radius: 2em;
    height: fit-content;
}

.project_program .script {
    grid-area: sc;
    justify-self: left;
}

#projects {
    min-height: 30%;
}

.python {
    background-color: #3572A5
}

.right {
    left: 50%;
}

.right::after {
    left: -16px;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.scroll_over {
    position: fixed;
    z-index: -1;
}

.show_menu {
    top: 0;
}

.side_scroll {
    background-color: #474e5d;
    border-top: #FF9F55 4px solid;
    overflow: auto;
    white-space: nowrap;
    height: 40vh;
    width: 100vw;
}

.side_scroll div {
    display: inline-block;
    margin: 10px;
}

.side_scroll::-webkit-scrollbar {
    display: none;
}

.symbol_size {
    width: 14vw;
}

.TIL_img {
    border-radius: 4px;
    width: 80%;
    justify-self: center;
}

#TIL_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TIL_main a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 90%;
}

#TIL_main article {
    width: 60vw;
    height: 50vh;
    padding: 10px;
    background-color: white;
    border: solid #FF9F55 8px;
    border-radius: 10px;
}

#TIL_main > article p {
    font-size: 14px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.topic h4{
    margin: 0;
}

.color_white {
    background-color: white;
}

/* Inte jätteeffektivt */
@media screen and (max-width: 600px) {
    .bubble {
        padding-left: 70px;
        padding-right: 25px;
    }

    .bubble::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .timeline::after {
        left: 31px;
    }

}

@media screen and (min-width: 600px) {
    .hide {
        display: none !important;
    }

    img {
        width: 100%;
        height: 100%;
    }

    #index_article {
        height: auto;
        justify-self: center;
        align-self: center;
        margin: 1rem;

    }

    .index_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #index_main {
        display: grid;
        grid-template-rows: 30% 70%;
        width: 100%;
    }

    #index_main article {
        margin-top: 10%;
        margin-bottom: initial;
        width: auto;
    }

    #index_text {
        margin: 10%;
    }

    .left {
        left: 3.3%;
    }

    #medic {
        margin: 1%;
        width: 25%;
    }

    #om_mig_container {
        grid-template-rows: 7% 93%;
        width: 100%;
    }

    #om_mig_over {
        height: 100%;

    }

    #om_oss {
        display: grid;
        height: 100%;
    }

    #program_main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        width: 60%;
        justify-self: center;
    }

    .project_program {
        width: 80%;
        justify-self: center;
        margin: 15px;
    }

    .project_card {
        justify-self: center;
        width: 50%;
        height: 70%;
    }

    #projekt_container {
        grid-template-areas: 
        "hd hd"
        "nv mn" ;
        grid-template-rows: 15% 85%;
        grid-template-columns: 20% 80%;
        width: 100%;
        height: 100vh;
    }

    #projekt_header {
        grid-area: hd;
        height: 100%;
    }

    .projekt_img {
        z-index: -1;
    }

    #projekt_main {
        display: grid;
        grid-area: mn;
        grid-template-rows: 20vh auto;
        background-image: url("../img/red_ring.jpg");
    }

    #projekt_main p { 
        height: fit-content;
        margin-top: 40vh;
    }

    #projekt_legend {
        grid-area: nv;
        position: fixed;
        top: 15%;
        height: fit-content;
        width: 15%;
        margin: 15px;
    }

    #projekt_substance {
        position: static;
    }

    #section_slides {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100vw;
    }

    .show {
        display: block;
    }

    .side_scroll {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        overflow: initial;
        width: auto;
    }

    #TIL_container {
        grid-template-rows: 15% 85%;
        height: 100vh;
        width: 100vw;
    }

    #TIL_main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        width: 100%;
        height: 100%;
    }

    #TIL_main a{
        display: grid;
        grid-template-rows: 50% 10% 40%;
        align-self: center;
        justify-self: center;
        width: 70%;
        height: 85%;
        margin: 5px;
    }

    .timeline {
        width: 100%;
        margin-top: 4px;
    }

}